{
   "inputs": {
      "test": {
         "phase": "EVAL",
         "input_type": "DMN_ListGenerator",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_test.txt.fd",
         "batch_list": 50
      },
      "predict_in": {
         "phase": "PREDICT",
         "input_type": "DMN_ListGeneratorByMultipleTopicAsDomain",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_test.txt.fd",
         "relation_file_train":"../data/ms_v2/ModelInput/dmn_model_input/relation_train.txt.fd",
         "batch_list": 50,
         "domain": 0
      },
      "predict_out": {
         "phase": "PREDICT",
         "input_type": "DMN_ListGeneratorByMultipleTopicAsDomain",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_test.txt.fd",
         "relation_file_train":"../data/ms_v2/ModelInput/dmn_model_input/relation_train.txt.fd",
         "batch_list": 50,
         "domain": 1
      },
      "train": {
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_train.txt.fd",
         "input_type": "DMN_PairGeneratorFilterMultipleTargetTopic",
         "batch_size": 50,
         "batch_per_iter": 1,
         "phase": "TRAIN",
         "query_per_iter": 1000,
         "use_iter": false
      },
      "train_clf": {
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_train.txt.fd",
         "input_type": "DMN_PairGeneratorTopicDomainsWithLabels",
         "batch_size": 100,
         "batch_per_iter": 1,
         "phase": "TRAIN",
         "query_per_iter": 1000,
         "use_iter": false
      },
      "share": {
         "query_to_category_file": "../data/ms_v2/ModelInput/ms_v2_categories.csv",
         "predict_ood": false,
         "number_of_categories": 75,
         "test_categories": "Windows_Insider_Register,Outlook_Email",
         "predict": true,
         "domain_training_type": "None",
         "balanced_domain_batches": true,
         "vocab_size": 427593,
         "use_dpool": false,
         "embed_size": 200,
         "target_mode": "ranking",
         "text1_corpus": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed.txt",
         "text2_corpus": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed.txt",
         "embed_path": "../data/ms_v2/ModelInput/cut_embed_mikolov_200d_no_readvocab.txt",
         "text1_maxlen": 30,
         "text1_max_utt_num": 2,
         "train_embed": true,
         "text2_maxlen": 30,
         "text1_corpus_ood": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed_ood_udc.txt",
         "text2_corpus_ood": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed_ood_udc.txt"
      },
      "valid": {
         "phase": "EVAL",
         "input_type": "DMN_ListGenerator",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_valid.txt.fd",
         "batch_list": 50
      }
   },
   "global": {
      "optimizer": "adam",
      "num_iters": 100,
      "save_weights_iters": 10,
      "learning_rate": 0.001,
      "test_weights_iters": 200,
      "weights_file": "../data/ms_v2/ModelRes/dmn_cnn.weights",
      "num_batch": 100,
      "num_epochs": 100,
      "model_type": "PY",
      "display_interval": 10,
      "representations_save_path": "../data/ms_v2/ModelRes/"
   },
   "outputs": {
      "predict_in": {
         "save_format": "TREC",
         "save_path": "../data/ms_v2/ModelRes/dmn_cnn.predict_in.test.txt"
      },
      "predict_out": {
         "save_format": "TREC",
         "save_path": "../data/ms_v2/ModelRes/dmn_cnn.predict_out.test.txt"
      }
   },
  "losses": [
      {
         "object_name": "rank_hinge_loss",
         "object_params": {
            "margin": 1.0
         }
      }
   ],
   "metrics": [
      "map"
   ],
   "net_name": "DMN_CNN",
   "model": {
      "model_py": "dmn_cnn.DMN_CNN",
      "setting": {
         "dropout_rate": 0.6,
         "hidden_size": 100,
         "2d_mpool_sizes": [
            [
               3,3
            ]
         ],
         "2d_kernel_sizes": [
            [
               3,3
            ]
         ],
         "num_conv2d_layers": 1,
         "2d_kernel_counts": [2]
      },
      "model_path": "./models/"
   }
}